<header class="clearfix">
  <h1 id="top_logo" class="pull-left">
    <%= link_to image_tag("logo.png"), root_path, {alt: "Framgia"} %>
  </h1>
  <div class="navbar pull-right">
    <div class="navbar-inner">
        <ul class="nav">
          <li><a href="#">Team</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
    </div>
  </div>
</header>